table{
	border-collapse: collapse;
	width: 700px;
}
#wrapper{
	margin: 40px;
}
#del_wrapper{
	margin: 40px;
}
.txt_name{
	width: 300px;
	height: 20px;
}
.btn_add{
	margin-left: 310px;
}
.head{
	background-color: #B6B9BA;
}
tr,td,th{
	border: 2px solid black;
}
.center{
	text-align: center;
}
