<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login and Registration</title>
	<meta charset="utf-8">
</head>
<body>

<form action="{% url 'register' %}" method="POST" class="register">
{% csrf_token %}
  <h3>Register</h3>
  <p>First Name: <input type="text" name="first_name" id="first_name"></p>  
  <p>Last Name: <input type="text" name="last_name" id="last_name"> </p>
  <p>Email Adddress: <input type="text" name="email" id="email"> </p>
  <p>Password: <input type="text" name="password" id="password"></p>
	<p>Confirm Password: <input type="text" name="confirm_password" id="confirm_password"></p>
  <p><input type="submit" name="register" id="register" value="Register"></p>
</form>


<form action="{% url 'login' %}" method="POST">
{% csrf_token %}
<h3>Login</h3>

<div>
  <p>Email Adddress: <input type="text" name="email_login" id="email_login"> </p>
  <p>Password: <input type="text" name="password_login" id="password_login"></p>
  <p><input type="submit" name="login" id="login" value="Login"></p>
</div>
</form>

{% for message in messages %}     
  <p style="color:red;">***{{message}}</p>
{% endfor %}
</body>
</html>